*{
    font-family: montserrat;
}
body{
    background-color: f1fbff;
}
.section-padding{
    padding: 100px 0;
}
.carousel-item{
    height: 100vh;
    min-height: 300px;
}
.carousel-caption{
    bottom: 220px;
    z-index: 2;
}
.carousel-caption h5{
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
    

}
.carousel-caption p{
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9px;

}
.carousel-inner::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
    z-index: 1;
}
.navbar-nav a{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
}
.navbar-light .navbar-brand{
    color: #000;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;

}
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover{
    color: #000;
}
.navbar-light .navbar-nav .navbar-link{
    color: #000;
}
w-100{
    height: 100vh;
}


.about-img img{
    padding: 30px;
}
#services.card-body i {
    padding: 30px;
    font-size: 50px;
}

.row{
    /* display: flex; */
    display: flex;
     align-items: center;    
    justify-content: center;
    padding: 10px;

}



/* ======= Responsive css==== */
@media screen and (min-width:768px) and (max-width:995px) {
    .carousel-caption{
        bottom: 370px;
    }
    
}
@media screen and (max-width:760px) {
    .navbar-nav{
        text-align: center;
    }
    .carousel-caption{
        background: cover;
        bottom: 475px;
    }
    .carousel-caption h5{
        font-size: 17px;
    }
    .carousel-caption a{
        padding: 10px 15px;
    } 
    .carousel-caption p{
        width: 100%;
        line-height: 1.6;
        font-size: 12px;
    }
}
  


